#flex-container {

  display: flex;
  flex-direction: column;
    height: 100vh;
    border: 5px solid blue;
    align-items: flex-end;
    
    
}

.green {
 background-color: blue;
 font-size: 40px ;
height: 100px;
text-align: center;
width: 100vw;
}

#fixed { 
    position: fixed;    
}

.blue {
    background-color: cornsilk;
    width: 200px;
    height: 100px ;
   margin: 10px;
    align-content: center;
    text-align: center;
    



}


