#blah {
    color: red; 
}

#steeeve {background-color: seagreen; font-size:12px

}


#Frank  {color:teal; font-size: 12px 
 

}

span {color: tomato;

}

div{ color: thistle;

 }
 .red {
   background-color:orange; 
   font-size: 20px ;
 }